:root,
*,
#context-menu {
	--text: #c1c2c5;
	--subtext1: #b6c5e2;
	--subtext0: #a6b3ce;
	--overlay2: #95a2bb;
	--overlay1: #828ea6;
	--overlay0: #757f95;
	--surface2: #626b7f;
	--surface1: #505a6d;
	--surface0: #373a40;
	--base: #2c2e33;
	--mantle: #25262b;
	--crust: #1a1b1e;
	--shadow: #010409;
	color-scheme: dark;
}

