:root,
*,
#context-menu {
	--text: #4c4f69;
	--subtext1: #5c5f77;
	--subtext0: #6c6f85;
	--overlay2: #7c7f93;
	--overlay1: #8c8fa1;
	--overlay0: #9ca0b0;
	--surface2: #acb0be;
	--surface1: #c5c9d3;
	--surface0: #e5e7eb;
	--base: #f9fafb;
	--mantle: #eff2f5;
	--crust: #e6eaef;
	--shadow: #252632;
	color-scheme: light;
}

